.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
models/*.pkl
data/raw/*
!data/raw/.gitkeep
.DS_Store
*.log
.env
mlflow.db
mlruns/
confusion_matrix.png
*.egg-info/
ml_project_dev_process.md
.dockerignore
